*{
	padding: 0;
	margin: 0;
}

html, body{
	font-size: 1.4vw;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	color: #424142;
}

/* HEADER */

header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	border-bottom: 1px solid #ADAAAD;
}

.header_section{
	flex: 1;
	box-sizing: border-box;
}

#temp{
	box-sizing: border-box;
	display: flex;
  flex-direction: column;
  justify-content: center;
}

#temp h3{
	box-sizing: border-box;
	width: 100%;
	padding-left: 1.5rem;
	padding-right: 2rem;
	font-family: arial, sans;
	font-size: 0.6rem;
	line-height: 0.72rem;
	text-transform: uppercase;
	font-weight: normal;
}

#temp h3:before{
	content: "";
	display: inline-block;
	width: 1rem;
	height: 1rem;
	margin-bottom: -0.3rem;
	margin-right: 0.2rem;
	background-image: url('icons/candela_sun.svg');
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#temp h3.cloudy:before{
	display: none;
}

#wordmark{
	background-image: url('icons/candela_wordmark.svg');
	background-position: center;
	background-size: 40% 40%;
	background-repeat: no-repeat;
}

#logomark{
	background-image: url('icons/candela_icon.svg');
	background-position: right;
	background-size: 40% 80%;
	background-repeat: no-repeat;
}

/* FOOTER */

footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: white;
	border-top: 1px solid #ADAAAD;
	display: flex;
}

.footer_section{
	font-family: arial, sans;
	position: relative;
	text-align: center;
	box-sizing: border-box;
	flex: 1;
	height: 2.3vw;
	font-size: 1rem;
	line-height: 2.3vw;
	text-transform: uppercase;
}

.footer_section:first-of-type{
	border-right: 1px solid #ADAAAD;
	text-align: left;
	padding-left: 1.5rem;
}

.footer_section:last-of-type{
	text-align: right;
	padding-right: 1.5rem;
}

.footer_section:nth-of-type(3){
	border-left: 1px solid #ADAAAD;
}

@media(max-width: 768px){
	#trailer_tab{
		display: none;
	}
}


/* SECTIONS */

main{
	position: fixed;
	top: calc(12.5vh - 0.2875vw);
	left: 0;
	width: 100%;
	font-size: 0;
}

main .sliver{
	border-bottom: 1px solid #ADAAAD;
}

main .sliver:last-of-type{
	border-bottom: none;
}

.sliver{
	height: calc(12.5vh - 0.2875vw);
	box-sizing: border-box;
	overflow-y: hidden;
	overflow-x: hidden;
}

a.sliver{
	text-decoration: none;
}

.sliver.width_full{
	display: flex;
	width: 100%;
}

.sliver.width_half{
	display: inline-flex;
	width: 50%;
}

.sliver.width_full, .sliver.width_half{
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.sliver.width_half:nth-of-type(2n){
	border-left: 1px solid #ADAAAD;
}

h1{
	position: absolute;
	left: 1.5rem;
	color: #424142;
	font-size: 0.88rem;
	font-weight: normal;
	z-index: 100;
}

h1 .section_subtitle{
	font-family: arial, sans;
	text-transform: uppercase;
}

.gradient{
	position: absolute;
	top: 0;
	left: 0;
	height: calc(12.5vh - 0.2875vw);
	width: 25vw;
	z-index: 50;
	background-image: linear-gradient(to right, rgba(255,255,255,1) , rgba(255,255,255,0));
}

.desktop_preview{
	position: absolute;
	top: 0;
	left: 18vw;
	height: calc(12.5vh - 0.2875vw);
	padding-left: 1.5rem;
	padding-top: 1.75vh;
	padding-right: 1.5rem;
	overflow-y: hidden;
	overflow-x: hidden;
}

.desktop_preview.lots_of_images{
	left: 0;
}

.sliver.width_half .desktop_preview, .sliver.width_half .desktop_preview.lots_of_images{
	text-align: right;
	left: auto;
	right: 0;
}

.desktop_preview img{
	object-fit: contain;
	filter: saturate(1%);
	margin-bottom: 5rem;
	height: calc(9vh - 0.2875vw);
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}

/* pop up */

#vimeo_video{
	display: none;
	position: fixed;
	top: calc(12.5vh - 0.2875vw);
	left: 0;
	height: calc(87.5vh - 2.3vw);
	width: 100%;
	z-index: 1000;
}

#vimeo_video.show{
	display: block;
}


/* SECTION PAGE */

#section_page{
	font-size: 0;
}

.candela_section{
	box-sizing: border-box;
	overflow: hidden;
	border-bottom: 1px solid #ADAAAD;
}

.candela_section.small_section:last-of-type{
	border-bottom: none;	
}

.current_section{
	position: relative;
	font-size: 1rem;
	display: block;
	width: 100%;
	overflow: hidden;
	height: calc(70vh - 0.2875vw);
}

.current_section h1{
	position: relative;
	left: auto;
	padding-left: 1.5rem;
	padding-top: 1rem;
	font-size: 0.88rem;
	font-weight: normal;
	font-family: TimesNewRoman, serif;
}

h2.slide_counter{
	padding-left: 1.5rem;
	font-family: arial, sans;
	font-size: 1rem;
	line-height: 2.3vw;
	text-transform: uppercase;
	font-weight: normal;
}

.section_carousel{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 60vh;
	width: 100%;
}

.section_carousel:focus { 
  outline-width: 0;
  outline: none;
}

.button{
	z-index: 10000000000000;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	cursor: pointer;
	width: 1rem;
	height: 1rem;
	border-radius: 0.5rem;
	background-color: #1C1C1C;
}
.button:hover{ transform: scale(1.1); }
.button:active{ transform: scale(1); }
.button.next{ right: 1rem; }
.button.previous{	left: 1rem; }

.section_carousel_cell{
	height: 60vh;
	width: 100%;
	text-align: center;
}

.slide_single_column{
	display: block;
	width: 80%;
	margin: 0 auto;
}


.slide_single_column.column_text p{
	text-align: left;
	margin: 0 auto;
	margin-bottom: 1rem;
	width: 37.5%;

}

.slide_single_column img{
	width: 100%;
	object-fit: contain;
	max-height: 50vh;
	width: 100%;
	object-position: center top;
}

.slide_column{
	display: inline-block;
	width: 50%;
	text-align: left;
	vertical-align: top;
}

.slide_column.column_text{
	width: 30%;
}

.column_text h2{
	text-transform: uppercase;
	font-size: 1rem;
	line-height: 2.3vw;
	font-family: arial, sans;
	font-weight: normal;
	margin-bottom: 0.75rem;
}

.slide_column.column_text p{
	margin-bottom: 1rem;
}

.slide_column.column_image{
	width: 50%;
}

.slide_column img{
	object-fit: contain;
	max-height: 50vh;
	width: 100%;
}

img.image_left{
	object-position: left top;
}

img.image_right{
	object-position: right top;
}

.caption_left{
	text-align: left;
}

.caption_right{
	text-align: right;
}



/* minimized sections */
a.small_section{
	font-size: 0.72rem;
	line-height: calc(2.9vh - 0.2875vw);
	text-decoration: none;
	height: calc(2.9vh - 0.2875vw);
}

.small_section h3{
	font-size: 0.72rem;
	font-weight: normal;
	padding-left: 1.5rem;
	line-height: calc(2.9vh - 0.2875vw);
}

.small_section.width_full{
	display: block;
	width: 100%;
}

.small_section.width_half{
	display: inline-block;
	width: 50%;
	border-right: 1px solid #ADAAAD;
	
}

